@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <br />
    Адрес: г. Астана, ул. Хусейн бен Талал, здание 21/1
    <br />
    <abbr title="Phone">Телефон:</abbr>
    +7 (7172) 235770
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">info@c.nis.edu.kz</a><br />
</address>
